extends ../sign

block content
  .bottom-message
    | I'm new here.
    a(href="/signup") Sign up.
  .sign-box
    img(src="/images/logo1.png" alt="WorxNotes")

    form(action="/login", method="post", class="sign-form")
      p(class="form-alert")

      span(class="field")
        input(type="email" name="username" placeholder="E-mail" id="signin-username")
      span(class="field")
        input(type="password" name="password" placeholder="Password" id="signin-password")
      div.sign-footer
        a(href="#") Need help?

      input(type="button" class="submit" onClick="validateSignIn($(this));" value="Sign in")

